# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.pyenv/

# Environment variables file
.env

# Flask cache and instance folders
instance/
*.sqlite3
*.db

# VS Code
.vscode/

# macOS
.DS_Store

# Pytest
.cache/
.pytest_cache/

# Logs
*.log

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/

# Pyre
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# System files
Thumbs.db
ehthumbs.db

# Imgs
*.jpeg
*.jpg
*.png
